:root {
  --main-bg-color: #4b5781;
  --main-text-color: #fff;
  --menu-bg-color: #394058;
  --middle-text-size: 20px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .header {
    flex-direction: column;
    justify-content: normal;
  }
}

.button-menu {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 700px) {
  .button-menu {
    display: none;
  }
}

.burger-menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--main-text-color);
  transition: background-color 0.5s;
}

.burger-menu::before,
.burger-menu::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-text-color);
  transition: transform 0.5s;
}

.burger-menu::before {
  transform: translateY(-12px);
}

.burger-menu::after {
  transform: translateY(12px);
}

.burger-menu[data-click='show'] {
  background-color: transparent;
}

.burger-menu[data-click='show']::before {
  transform: rotate(45deg) translateY(0);
}

.burger-menu[data-click='show']::after {
  transform: rotate(-45deg) translateY(0);
}

.header__top {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

@media (min-width: 700px) {
  .header__top {
    transform: translateY(calc(50vh - 50% - 70px));
  }
}

.header__title {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 700px) {
  .header__title {
    font-size: 24px;
  }
}

@media (min-width: 1140px) {
  .header__title {
    font-size: 34px;
  }
}

@media (min-width: 700px) {
  .header__description {
    font-size: var(--middle-text-size);
  }
}

@media (min-width: 1140px) {
  .header__description {
    font-size: 24px;
  }
}

.header__nav {
  position: absolute;
  width: 100%;
  transition: top 0.5s;
  background-color: var(--menu-bg-color);
}

@media (min-width: 700px) {
  .header__nav {
    position: initial;
    background-color: var(--main-bg-color);
  }
}

.header__nav-list {
  max-width: 1140px;
  min-height: 70vh;
  padding: 40px 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__nav-item:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .header__nav-list {
    padding: 15px 0;
    min-height: initial;
    flex-direction: row;
    justify-content: space-around;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header__nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  color: var(--main-text-color);
  cursor: pointer;
  position: relative;
}

@media (min-width: 700px) {
  .header__nav-link::before,
  .header__nav-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-text-color);
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .header__nav-link::before {
    transform-origin: 0;
    top: 0;
  }

  .header__nav-link::after {
    transform-origin: 100%;
    bottom: 0;
  }

  .header__nav-link:hover::before,
  .header__nav-link:hover::after {
    transform: scaleX(1);
  }
}

.icon {
  position: absolute;
  fill: white;
  top: 20px;
  left: 20px;
  z-index: 100;
}

@media (min-width: 700px) {
  .icon {
    display: none;
  }
}

.main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.about {
  min-height: 100vh;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img-wrapper {
  max-width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.about__img {
  display: block;
  max-width: 100%;
}

.about__grid {
  display: grid;
  gap: 30px;
}

.about__description {
  max-width: 800px;
  margin: 0 auto;
}

.hide {
  top: -800px;
}

.about__link {
  color: var(--main-text-color);
  font-size: 20px;
}

.about__skills-title {
  margin-bottom: 10px;
  text-align: center;
}

.about__list {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.about__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 700px) {
  .about__description {
    font-size: var(--middle-text-size);
  }

  .about__list {
    max-width: 800px;
    padding-left: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
  }

  .about__skills-title {
    font-size: 22px;
  }
}

@media (min-width: 1140px) {
  .about__grid {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .about__skills-title {
    margin-top: 30px;
    font-size: 24px;
  }

  .about__list {
    font-size: var(--middle-text-size);
  }
}

.projects {
  padding: 0 10px;
  min-height: 100vh;
}

.show {
  top: 0;
}
